<section class="login-box">
    <h2>Enter Authorization Credentials</h2>
    <br>
    <div class="local-login">
        <!-- <label>email</label> -->
        <div>
            <input type="text" placeholder="Username" ng-model="loginUsername">
        </div>
        <!-- 		<label>Password</label> -->
        <div>
            <input type="password" placeholder="Password" ng-model="loginPassword">
        </div>
        <div>
            <button type="submit" ng-click='loginLocal()'>Login</button>
        </div>
    </div>
</section>
