* {
  box-sizing: border-box;
}

main {
  padding: 10px;
}

header {
  height:10vh;
  background-color: rgba(10,10,10,.80);
  width: 100%;
  min-height: 60px;
  color: white;
  padding: 10px ;

  display:flex;
  align-content: center;
}


//Custom Classes

.system-message-pane {
  display: block;
  width: 100%;

  .system-error {
    background-color: red;
  }

}

.encoder-view, .decoder-view, .admin-tab {
  .work-box {
    display: flex;
    margin: 10px 0 10px 0;

    ul {
      list-style: none;
      li {
        list-style: none;
      }
    }

    div {
      border: 1px solid black;
      border-radius: 5px;
      padding:5px;
      margin:2px;
    }



    .tools-pane {
      width:30%;

      select {
        display: block;
      }

      .message-queue-item {
        margin: 5px 0;
        border:1px solid red;
      }
    }

    .details-pane {
      width: 70%;

      .detail-box {
        border: none;
        width: 50%;
        padding: 5px;
      }
    }
  }
}

.admin-view {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .tab-class{
    float: left;
    border: 1px solid #000;
    border-bottom-width: 0;
    margin: 3px 3px 0px 3px;
    padding: 5px 5px 0px 5px;
    background-color: #CCC;
  }
  #mainView {
    border: 1px solid black;
    clear: both;
    padding: 0 1em;
  }
  .active {
    background-color: #FFF;
    color: #000;
  }
}

button:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}


.message-status {

  margin:2px !important;
  padding:5px !important;
  border: 2px solid black !important;
  border-radius: 5px!important;
}

.sent {
  border-color: yellow;
}
.failed {
  border-color: red;
}
.success {
  border-color: green;
}
.used {
  background-color: #CCCCCC;
  border-color: black;
}